/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

.text-icon .fl-module-content .storename li .address::before {
    content: "\ea7d";
    font-family: 'Ultimate-Icons' !important;
    font-size: 1.3em;
    height: auto;
    margin-right: 8px;
    vertical-align: middle;
    width: auto;
}

.facet_filters .facet-wrap>strong {
    border-bottom: 2px solid #000!important;
    color: #000!important;
}

.custom_searchModule {
    display: none;
    z-index: 3;
    position: absolute;
    right: 0px;
    left: 0px;
}

.fl-page {
    width: auto;
}

.bx-viewport .fl-slide .fl-slide-foreground.clearfix .fl-slide-content-wrap {
    width: 100%;
}

ul.storename {
    list-style: none!important;
    padding: 0px!important;
}

.fl-slide-text .fl-builder-content {
    margin-bottom: 0px!important;
}

header span.fl-icon {
    cursor: pointer;
}

footer .fl-module-content .storename li .address a:hover p {
    color: #faa41c;
}

.gfield_captcha_input_container>input {
    max-width: 80px!important;
}

footer .fl-module-content .fl-rich-text .storename li .phone a span:hover {
    color: #faa41c!important;
}

h1.fl-heading span.fl-heading-text,
div.fl-rich-text h1 {
    text-transform: capitalize !important;
}

.text-icon .fl-module-content .fl-rich-text p {
    display: inline-block;
}

.fl-module-rich-text .fl-module-content ul.storename li .direction a {
    width: 200px;
}

.fl-builder-content .fl-node-v75jlgyidwte a.fl-button:focus span.fl-button-text {
    color: #fff!important;
}

.product-detail-layout-6 .button-wrapper>a:hover {
    background-color: #0e2b4d!important;
    color: #fff!important;
}

.product-detail-layout-6 .dual-button a {
    text-transform: uppercase;
}

.product-detail-layout-6 .dual-button a:hover {
    color: #fff!important;
}

.product-colors li.colors {
    margin-left: 5px;
}

.copyRight p {
    margin-bottom: 0px!important;
}

.fl-post .fl-post-image-beside {
    float: none;
    width: 100%;
}

.product-grid.btn-grey .product-variations1>h5,
.product-grid.btn-grey>h4>span,
.product-grid .fl-button-text,
.product-detail-layout-6 .product-variations .color-boxs-inners small,
.floorte-color,
.featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button,
.fl-photo-caption {
    font-size: 14px!important;
}

div.gform_wrapper .gfield_time_ampm select {
    max-width: 8rem!important;
    width: calc(5rem + 20px) !important;
    -webkit-appearance: none;
    background-image: url('/wp-content/uploads/2022/07/drop-down-arrow.png');
    background-position: 91%;
    background-size: 8px;
    background-repeat: no-repeat;
    text-align: center;
    padding: 10px;
}

div.gform_wrapper.gf_browser_chrome .gfield_time_ampm select {
    max-width: 8rem!important;
}

.storename li .phone a span:before,
footer .storename li .phone a span:before {
    font-size: 18px;
    content: "\f095";
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}

footer .storename li .phone a span:before {
    font-size: 18px !important;
    margin-right: 14px;
}

footer .storename li .phone a span {
    font-size: 16px;
}

footer .fl-module-content .fl-rich-text .storename li .phone a span:hover {
    color: #fff;
}

footer ul.social-icons li a:hover i:before {
    color: #faa41c;
}

footer .fa-phone-alt {
    display: none;
}

footer ul.social-icons li {
    width: auto;
    margin: 0 20px 10px 0;
}

footer .footerRow .menu>li:first-child a {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
}

.search-row .product-grid .product-row .fl-post-grid-post .fl-post-grid-image {
    min-height: 240px;
}

.search-row .product-grid .product-row .fl-post-grid-post .fl-post-grid-image>a>img {
    margin-bottom: 0px;
}

.search-row a.link.plp-view-product.fl-button:hover {
    color: #fff!important;
    text-decoration: none;
}

.fl-module-content .storename li .address a {
    color: #0e2b4d;
}

.fl-module-content .storename li .address a:hover {
    color: #faa41c;
}

.fl-module-content .fl-rich-text .message a:hover {
    color: #000;
}

.fl-module-content .fl-rich-text .storename li .phone a span:hover {
    color: #000;
}

.direction a {
    max-width: 200px!important;
    width: 100%!important;
    text-align: center!important;
    border-radius: 50px!important;
    font-family: Montserrat, sans-serif!important;
    font-weight: 700!important;
    font-size: 14px!important;
}

.direction a:hover span {
    color: #fff!important;
}


/* HOme page */

.cat-boxes .fl-module-content .uabb-module-content .uabb-ultb3-info {
    background-color: #fff;
    display: inline-block;
    max-width: 220px;
    text-align: center;
    width: 100%;
    padding: 20px;
    margin-bottom: 13px;
}

.brandSlider .slick-track {
    display: flex;
    align-items: center;
}

.fl-slide-text>p {
    margin: 0px!important;
}

.bx-wrapper {
    margin-bottom: 0px!important;
}

.servicesRowLoc .fl-col-group {
    filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.4));
}


/* Home page */

div.gform_wrapper .gfield select {
    -webkit-appearance: none;
    background-image: url(https://burchbrothersflooring.com/wp-content/uploads/2022/04/drop-down-arrow.png)!important;
    background-position: 99%!important;
    background-size: 8px!important;
    background-repeat: no-repeat!important;
}

.fl-module .gform_wrapper .gform_body .gfield .ginput_container input,
.fl-module .gform_wrapper .gform_body .gfield select {
    margin-top: 0px!important;
    background: transparent;
}

header ul.storename .phone a:hover span {
    color: #fff!important;
}

legend {
    border-bottom: none!important;
}

.store-opening-hrs-container ul.store-opening-hrs li {
    padding: 10px 50% 10px 10px;
    list-style: none;
}

div.text,
div.number {
    display: inline-block;
}

ul.social-icons {
    text-align: center;
}

.gform_wrapper .gfield_checkbox li input[type=checkbox] {
    margin-top: 0px !important;
}

footer .storename li .phone a:before {
    content: " ";
    display: none;
}

.footermenu li.menu-item a {
    font-size: 14px;
    line-height: 20px;
}

.uabb-infobox-button .uabb-creative-button-text~i.ua-icon-arrow-down:before {
    font-size: 0;
}

.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover {
    transition: all 0.3s;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -ms-transition: all 0.3s;
}

.uabb-infobox-button .uabb-creative-button-has-icon a.uabb-none-btn:hover i.ua-icon-arrow-down:before {
    font-size: 1em;
}

header ul.storename {
    padding: 0px;
    list-style: none;
}

header ul.storename li a span {
    color: #faa41c!important;
}

header ul.storename li a span:before {
    content: ""!important;
}

header .uabb-infobox-text.uabb-text-editor>p {
    padding: 0px!important;
    margin: 0px!important;
}

header .left-title-image {
    display: flex!important;
    align-items: center!important;
    justify-content: center!important;
}

header .infobox-left .uabb-imgicon-wrap {
    margin-right: 10px!important;
}

header .infobox-photo-left-title .uabb-infobox-title-wrap {
    width: auto!important;
}

.rmp-menu-additional-content .phone a {
    color: #fff;
}

ul.store-opening-hrs {
    padding-left: 0px;
}

.infoBox>.fl-module-content {
    display: block!important;
    text-align: center;
}

.infoBox .uabb-module-content {
    display: inline-block;
}

.mobile-number .storename {
    margin: 0;
    padding: 0;
}

.mobile-number .storename .phone a span {
    color: #fff !important;
}

.mobile-number .storename .phone a:hover span {
    color: #faa41c !important;
}

.mobile-number .storename .phone a span:before {
    content: "\f095" !important;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    font-size: 19px!important;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    text-decoration: inherit;
    vertical-align: middle;
    margin-right: 5px;
}

.topBar_module .fl-col-group.fl-col-group-equal-height.fl-col-group-custom-width {
    align-items: center;
}

.infoBox .uabb-infobox-text.uabb-text-editor {
    display: flex;
    justify-content: center;
}

.infoBox .uabb-infobox-text.uabb-text-editor ul.storename {
    margin-left: 10px;
}

.infoBox .uabb-infobox-text.uabb-text-editor ul.storename .phone a:hover span {
    color: #fff !important;
}

.footertopbar .fl-rich-text a:hover {
    color: #000 !important;
}

.product-colors ul li.found {
    margin-right: 5px;
}

.product-grid.btn-grey .product-variations1>h5,
.product-grid.btn-grey>h4>span,
.product-grid .fl-button-text,
.product-detail-layout-6 .product-variations .color-boxs-inners small,
.floorte-color,
.featured-products .featured-product-list .featured-product-item .prod-img-wrap .button-wrapper .button,
.fl-photo-caption {
    font-size: 14px!important;
}

.gform_heading p.gform_required_legend {
    display: none;
}

@media (max-width: 1400px) {
    ul#menu-main-menu>li>a,
    ul#menu-main-menu>li>div>a {
        font-size: 12px;
    }
    #headerlocation ul.storename .phone a {
        font-size: 11px;
    }
}

@media (max-width: 1200px) {
    ul#menu-main-menu>li>a,
    ul#menu-main-menu>li>div>a {
        font-size: 10px;
    }
}

@media (max-width:1024px) {
    .servicesRowLoc .uabb-infobox-left-right-wrap {
        min-height: 260px;
    }
    header .logoCol {
        width: 100%!important;
    }
    header .logoCol>div {
        border: 0px!important;
    }
    .IpadLandHIde {
        display: none!important;
    }
    .locationCol .fl-col-content {
        padding: 0px 20px!important;
    }
    .fl-page-header-logo-col~.fl-page-nav-col .fl-page-nav-wrap,
    .fl-page-nav-right.fl-page-header-fixed,
    .fl-page-header-fixed {
        display: none !important;
    }
    #responsive-menu-container div#responsive-menu-additional-content,
    #responsive-menu-container div#responsive-menu-search-box {
        padding: 5px 5%;
    }
    #responsive-menu-additional-content .storename li .phone a:before {
        margin-right: 5px !important;
    }
}

@media (max-width:768px) {
    .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
        padding: 0;
    }
    .max360 img {
        max-width: 360px!important;
        width: 100%!important;
        display: block;
        margin: 0 auto!important;
    }
    /* 	.fl-row-content-wrap {
		text-align: center;
	} */
    .fl-fade-in.fl-animated p,
    .uabb-gf-style .gform_wrapper .gform_footer {
        text-align: center !important;
    }
    .fl-page-header-logo {
        text-align: left;
    }
    .fl-page-header-primary .fl-logo-img {
        max-width: 80%;
    }
    .footer-menu .fl-col-small {
        width: 25% !important;
        float: left;
        clear: none;
    }
    ul#menu-copyright-bar-menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .copyright-sec-row .fl-col-small {
        width: 100%;
        text-align: center;
    }
    .copyright-sec-row .fl-col-small:first-child .fl-module-html .fl-module-content.fl-node-content {
        margin-top: 20px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap .fl-icon-text-link {
        font-size: 14px;
    }
    footer .fl-col-small .fl-module-icon .fl-module-content.fl-node-content {
        margin: 0px 10px;
    }
    footer .fl-icon-text {
        padding-left: 0px;
    }
    footer .fl-col-small .fl-module-icon .fl-icon-wrap span {
        padding-right: 15px;
    }
    /* footer .fl-col-small .fl-module-icon .fl-icon-wrap i{
        font-size: 25px;
    } */
    .d-block .fl-row-fixed-width .fl-col-group-equal-height {
        display: block;
    }
    .fl-builder-content .fl-button i.fl-button-icon-after {
        margin-left: -8px;
    }
    .w-100 {
        width: 100%;
    }
    .max-width-issue {
        max-width: 400px !important;
        margin: 0 auto !important;
        float: none;
    }
    .max-width-issue>.fl-col-content.fl-node-content {
        padding-left: 20px;
        padding-right: 20px;
    }
    .reversed .fl-col-group-responsive-reversed {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px 0 0 0;
    }
    button#responsive-menu-button {
        top: 60px;
    }
    .uabb-photo__gallery-filters li {
        display: block;
    }
    .gform_wrapper .gfield_time_hour i {
        margin-top: 0% !important;
    }
    .rc-anchor-normal .rc-anchor-pt {
        right: 32px !important;
    }
    .rc-anchor-normal {
        width: 300px !important;
    }
    footer .storename {
        padding-left: 0 !important;
    }
    /* .fl-module-map .fl-map:not(.fl-map-auto-responsive-disabled){
        position: static !important;
    } */
    .max-width-issue>.fl-col-content.fl-node-content {
        padding-left: 0px;
        padding-right: 0px;
    }
    .rmp_menu_trigger {
        top: 75px !important;
    }
    body.admin-bar .rmp_menu_trigger {
        top: 120px !important;
    }
}

.rmp_menu_trigger {
    border: 0px!important;
    outline: none!important;
}

@media (max-width:767px) {
    .footer-menu .fl-col-small {
        width: 100% !important;
    }
    .gform_wrapper.gf_browser_safari .gfield_time_ampm select {
        max-width: 10rem!important;
        width: calc(4rem + 20px) !important;
    }
    .store-opening-hrs-container ul.store-opening-hrs li {
        padding: 10px 10% 10px 10px;
        list-style: none;
    }
    .fl-row-fixed-width {
        max-width: 100%!important;
        width: 100%!important;
    }
}


/* Slider height issue on mobile */

@media(max-width: 768px) {
    .fl-content-slider .fl-slide-bg-photo {
        position: absolute!important;
        min-height: 500px!important;
    }
    .fl-content-slider .fl-slide-foreground .fl-builder-content .fl-row>.fl-row-content-wrap {
        min-height: 500px;
    }
    .fl-slide-mobile-photo {
        z-index: +2;
        position: relative;
        max-height: 500px!important;
        text-align: center!important;
        vertical-align: middle;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
    }
    .fl-slide-mobile-photo>img {
        padding: 50px;
        max-height: 500px!important;
        width: auto;
        margin: 0 auto;
    }
    .fl-content-slider .fl-slide {
        min-height: 500px !important;
        max-height: 500px !important;
    }
    .product-attributes table {
        table-layout: fixed!important;
    }
    .fl-content-slider .fl-slide-bg-link {
        z-index: +2;
    }
}

@media (max-width: 767.5px) {
    .rmp-menu-item-has-children .rmp-submenu.rmp-submenu-depth-2>li>a {
        line-height: 1.4em!important;
    }
}

@media screen and (max-width: 700px) {
    button#responsive-menu-button.responsive-menu-accessible {
        top: 50px;
    }
}

@media screen and (max-width: 630px) {
    button#responsive-menu-button.responsive-menu-accessible {
        top: 70px;
    }
}

@media screen and (max-width: 600px) {
    ul#menu-copyright-bar-menu {
        flex-direction: column;
    }
    div.fl-module-photo-gallery .uabb-photo-gallery-item {
        width: 100%;
        height: 335px;
        margin-bottom: 20px;
    }
    .fl-builder-content div.our-services {
        width: 100% !important;
    }
    .fl-builder-content div.our-services .fl-col-content {
        border-right-width: 0px;
        border-bottom-width: 1px;
    }
}

@media screen and (max-width: 410px) {
    button#responsive-menu-button.responsive-menu-accessible {
        width: 35px;
        height: 35px;
    }
    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a {
        font-size: 11px;
    }
}

@media screen and (max-width: 378px) {
    .fl-page-bar a *,
    .fl-page-bar .navbar-nav li>a {
        font-size: 10px;
    }
}

@media screen and (max-width: 374px) {
    button#responsive-menu-button.responsive-menu-accessible {
        top: 10px;
    }
    .fl-page-bar {
        display: none;
    }
}